.wl-btn {
  border-color: #555!important;
  background: #fff!important;
  color: #555!important;
}
.wl-btn:hover {
  border-color: #222!important;
  color: #222!important;
}
.wl-btn.primary {
    border-color: #222!important;
    background: #222!important;
    color: #fff!important;
}
.wl-btn.primary:hover {
  border-color: #555!important;
  background: #555!important;
  color: #fff!important;
}